{% extends "decorators/web.html" %}
{% block content %}

<style type="text/css">
  .card:hover{
    background: rgb(56 60 203 / 80%);
    opacity: 0.5;
  }
</style>

<div class="container-fluid row" style="min-height:700px;">
  <div class="col-3">
    <div class="list-group" style="border-radius: 30px;position:fixed;">
      <button type="button" class="list-group-item list-group-item-action active">
        Cras justo odio
      </button>
      <button type="button" class="list-group-item 
      list-group-item-action">Dapibus ac facilisis in</button>
      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
        <!-- Button trigger modal -->
      <button type="button" class="list-group-item list-group-item-action" data-toggle="modal"
        data-target="#exampleModal">

         Add new image
      </button>
    </div>
    <h1>sidebar</h1>
  </div>

  <div class="col-8 ml-2">
    <div class="row">
      <div class="card col-md-6 col-lg-4 hover-overlay bg-img" style="height: 320px;">
        <div
        class="mask"
        style="
          background: linear-gradient(
            45deg,
            rgba(29, 236, 197, 0.5),
            rgba(91, 14, 214, 0.5) 100%
          );
        "
      ></div>
        <input class="form-check-input" class="row mr-1" type="checkbox" name="anh3"
         id="flexRadioDefault1" style="margin-left: -10px;transform: scale(1.5);">
        <img src="..." class="card-img-top" height="215px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> 
    </div>
  </div>
</div>
<div class="container-fluid row" style="min-height:700px;">
  
  <div class="col-9 ">
    <div class="row">
         
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
          aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="file" id = "input_file_upload" name="" onchange="getBase64(this);" accept="image/*">
                  <img id="file-upload-image" height="100px" width="100px" style="display:none" src="https://cdn.onlinewebfonts.com/svg/img_510738.png" alt="your image"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" 
                  id="input_submit_file"
                  class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

    </div>

  </div>

</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

var url_file_upload = "{{url_for('upload_img')}}"
var file_upload = document.getElementById('input_file_upload')
var img_show = document.getElementById('file-upload-image')
function getBase64(input) {
  return new Promise((resolve, reject) => {
    var file = input.files[0]
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => 
      {
        img_show.src=reader.result
        img_show.style="display:block;"
        resolve(reader.result);
      }
    reader.onerror = error => reject(error);
  });
}


$("#input_submit_file").click(function(){
  var len = file_upload.files.length
  if(len==0) {
    alert("ảnh chưa upload")
    return
  }
  var fileObject =file_upload.files[0]
  
  data={
    'file': fileObject,
    'lastModified'     : fileObject.lastModified,
    'lastModifiedDate' : fileObject.lastModifiedDate,
    'name'             : fileObject.name,
    'size'             : fileObject.size,
    'type'             : fileObject.type,
    'readfile':         img_show.src
  }

  $.ajax({
    url: url_file_upload,
    type: 'POST',
    data: JSON.stringify(data),
    success: function (data, status) {
        console.log('done');
        console.log(data);
    },
    error: function (xhr, desc, err) {
      console.log(xhr);
      console.log("Desc: " + desc + "\nErr:" + err);
    }
  });
})

</script>
{% endblock %}
