{% extends "decorators/web.html" %}
{% block content %}


<div class="container">
    <div class="row mt-5">
        <div class="row">
            <div class="" style="justify-content:center;display:flex">
                <h1 class="display-1" style="margin-bottom: 20px; font-weight:bold; font-size:40px;
                    color:#192a56">STATISTIC SHARE</h1>
            </div>
            
            <table class="table table-bordered mt-5 w-100">
                <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th class="col-3">Fullname</th>
                        <th class="col-3">Count pictures</th>
                        <th class="col-3">Count share to me</th>
                        <th class="col-3">Count share to everybody</th>

                    </tr>
                </thead>
                <tbody id="table">

                </tbody>
            </table>
        </div>
        <div class="row mt-5" id="chart_div">

        </div>
    </div> 
 </div>    

 <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">

        const url_statistic = "{{url_for('statisticApi')}}";
        // function get 
        function getStatistic(){
    		let data;
    		$.ajax({
  			  url: url_statistic,
  			  type: 'get',
  			  success: function (res, status) {
  				 console.log(res)
  				 data=JSON.parse(res)
  			  },
  			  error: function (xhr, desc, err) {
  			    console.log(xhr);
  			    console.log("Desc: " + desc + "\nErr:" + err);
  			  },
  			  async: false
  			});
    		return data
    	}
		

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['bar']});
        google.setOnLoadCallback(drawChart);
    
        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            // Create columns for the DataTable
            data.addColumn('string','Name');
            data.addColumn('number', 'Count pictures');
            data.addColumn('number', 'Count share to me');
            data.addColumn('number', 'Count share to everybody');

            data_statistic = getStatistic();
            // Create Rows with data
            for(let i of data_statistic['statistic']){
                data.addRow([i.fullname,i.count_pictures,i.count_shared_to_me,i.count_share_to_everybody])
            }
            //Create option for chart
            var options = {
                chart: {
                    title: 'STATISTIC SHARING',
                },
                'width': 800,
                scales: {
                    yAxes: [{
                        ticks: {
                            precision: 0
                        }
                    }]
                }


              };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.charts.Bar(document.getElementById('chart_div'));
            chart.draw(data, google.charts.Bar.convertOptions(options));

        }

        function updateTable(data){
            let table = document.getElementById('table');
            table.innerHTML=""
            for (let i of data){
                let id = i['id'];
                let name = i['fullname'];
                let count_pictures =i['count_pictures'];
                let count_shared_to_me = i['count_shared_to_me']
                let count_share_to_everybody = i['count_share_to_everybody']

                let div= document.createElement("tr")
                content=`
    			<td scope="row">`+id+`</td>
                <td style="">`+name+`</td>
                <td style="">`+count_pictures+`</td>
                <td style="">`+count_shared_to_me+`</td>
                <td style="">`+count_share_to_everybody+`</td>
    		    `
    		    div.innerHTML= content
                table.appendChild(div)
            }
        }
        updateTable(getStatistic()['statistic'])
    </script>

{% endblock %}